.bg{
    margin-top: 25%;

}
.s1{
     margin-top: 30%;
}
.last-second{
    display: grid;
    grid-template-rows:50% 50%;

}
.last-second-left{
    padding: 0;
    padding-top: 6%;
}
.last-second-left>p{
    font-size: 25px;
    margin: 2%;
}