.catagory_card p a{
    text-decoration: none;         ;
}
header{
}
.image{
    border-radius: 5px;
    /* background-size: cover; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 176px;

}
.left_header{
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 540px;
}
.img1{
    background-image: url('../images/template.svg');
    background-position: 50% 45%;
    background-size: 728px;
    width: 120px;
    height: 28px;
    margin: auto 5%;
}
.left_header input{
    /* margin: auto; */
    height: 40px;
    width: 365px;
    border-radius: 5px; 
    margin: 10px auto; 
    font-size: medium;
}
.right_header{
    background-color: transparent;
    margin-left: auto;
    margin-right: 2%;
    align-items: center;
    justify-content: center;
}
.right_header ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;   
}
.right_header ul li{
    list-style: none; 
    margin-left: 20px;
}

select{
    background-color: transparent;
    color: white;
    border: none;
    font-size: medium;
}
#language option{
    background-color:black;
}
/* option:hover{
    outline: none;
    border: none;
} */
.right_header ul li a{
    text-decoration: none;
    color: white;
font-size: large;
}
.cart{
    background-image: url('../images/Shopping_Bag.svg');
    width: 32px;
    height:31px;
    margin-left: 10px;
}
.s1{
    overflow-x: scroll;
    /* width: 100%; */
    height: 150px;
    /* border:solid red; */
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding: 5px 40px;
    align-items: center;
}
.s1::-webkit-scrollbar{
    /* background-color: transparent; */
    display: none;
}
.catagory_card{
    /* cursor: grab; */
    /* border: solid black; */
    text-align: center;
    width: 176px;
    height: 112px;
    position:   relative;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0 black;
}

.catagory_card p{
    margin: 0;
}
.s2{
    /* border: 2px solid blue; */
    /* height: 100px; */
    display: flex;
    flex-direction: row;
    overflow-y: auto ;
}
.s2::-webkit-scrollbar{
    background-color: transparent;
    display: none;
}
.s2 div
{
    margin: 40px 0px;
    margin-left: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px black;
}
.s2 img{
    border-radius: 10px;
    height:461px;
    width: 1251px;
}
.s3{
    /* border: 2px solid green; */
    width: 1160px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction:row;
    column-gap: 3%;
    row-gap: 35px;
    flex-wrap: wrap;
    padding: 1% 0px;
}
.product_card{
    /* border: 2px solid red; */
    box-shadow: 0px 0px 4px 0px;
    border: 5px;
    border-radius: 5px;
    width: 200px;
    height:260px;
}
/* .mar{
    width:calc(100% - 10px);
} */
.product_card button{
    background-color: #72be44;
    color: white;
    border: none;
    width: 185px;
    height: 30px;
    /* margin-left: 7px; */
}
.s4{
    /* border: solid blue; */
    margin: auto;
    width: 1160px;
    /* display: flex;
    flex-direction: row; */

}
.ls1{
    height: auto;
    width: auto;
    padding: 1% 0%;
    box-shadow: 0px 0px 4px 0px;
}
.ls1 ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    column-gap: 5%;
    font-size: large;
    justify-content: center;
}
.ls1 ul li a{
    text-decoration: none;
}
.ls2{
    color: gray;
    display:flex;
    flex-direction: column;
    margin: auto;
    /* height: 456px; */
    width: 360px;
    /* border: 2px solid green; */
    box-shadow: 0 0 4px 0 #80808040;
    padding: 3%;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    padding-top: 0%;
}
.ls2>div{
    border: 1px solid gray;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    display: flex;
}
.ls2>div>p{
    /* height: 100%; */
    font-size: large;
    margin: auto 10px;
}
.ls2 div input{
    font-size: large;
    border: none;
    outline-style: none;
}
.ls2 a{
    text-decoration: none;
    color: gray;
}
.bt1{
    height: 45px;
    width: 100%;
    border-radius: 30px;
    /* border: solid green; */
    border: none;
    background-color: #72be44;
    color: white;
    font-size: large;
}
.pro-sec1{
    /* border: 2px solid red; */
    width: 100%;
    height: 72vh;
    display: grid;
    grid-template-columns: 30% 70%;
    /* margin-top: 4%; */
}
.aside-left{
    /* border: 2px solid black; */
    padding-top: 10%;
    padding-left: 40%;
}
.range{
    padding: 30px;
    box-shadow: 0 0 4px 0 #80808040;
}
#slider{
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 30px;
}
/* input[type="range"]{
    color: white;
} */
.slider-max{
    float: right;
}
.product-group-title{
    
    padding-left: 1%;
    margin-bottom: 0;
    font-size: x-large;
    width: 100%;
}
.aside-right{
    padding-top: 1%;
    /* border: 2px solid blue; */
    height: 72vh;
    padding-left: 2%;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 25px;
}
.ps1{
    /* border: 2px solid green; */
    margin: 0% 15%;
}
.ps1>p{
    font-size: x-large;
}
.ps1>div{
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: 69% 29%;
    column-gap: 2%;
}
.ps1-left{
    /* border: 2px solid red; */
    height: 72vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    /* row-gap:22px; */

}
.ps1-left::-webkit-scrollbar {
    display: none;
}
.ps1-right{
    height: 72vh;
    /* border: 2px solid yellow; */
    padding: 0% 0%;
}
.payment-calculator{
    /* border: 2px solid blue; */
    box-shadow: 0 0 4px ;
    height: 80%;
    margin: 13% 0;
    padding: 7%;
    padding-top: 15px;

}
.payment-product{    
    /* border: 2px solid pink; */
    box-shadow: 0 0 4px 0;
    height: 40%;
    display: flex;
    flex-direction: row;
    margin: 1%;
}
.payment-product>img{
    margin: auto 0;
    width:30%;
    
}
.product-disc{
    font-size: x-large;
    width: 200px;
    margin: 3%;
}
.product-disc>p{
    margin: 3%;
}
.product-price{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin: 3%;
}
.product-price>p{
    margin: 0;
    font-size: x-large;

    
}
#counter-changer{
    background-color: transparent;
    border: none;
    font-size: x-large;
    font-weight: bold;
    color: white;
    width: 30px;
    height: 30px;
}
.quantity-counter{
    background-color: black;
    /* float: right; */
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    height: 30px;
    width: 90px;
}
.display-quantity>p{
    /* color: white; */
    background-color: white;
    margin: 0;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pc1{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5%;
}
.labels{
    text-align: right;
    font-size: large;
}
.labels p{
    margin: 0;
}
.values{
    font-size: x-large;
    text-align: right;
}
.values p{
    margin: 0;
}
.place-order-btn{
    margin: 20% auto;
    margin-bottom: 10%;
}
.pick-up-store-btn{
    margin: 10% auto;
    background-color: black;
}
.product-data{
    /* border: 2px solid black; */
    /* height: 100vh; */
    display: grid;
    grid-template-columns: 40% 60%;
}
.product-image{
    /* border: 2px solid blue; */
    height: 65vh;
    background-position: center;
    background-size: contain;
}
.product-info{
    /* border: 2px solid green; */
    height: 65vh;
}
.quantity{
    font-size: larger;
}
.product-id{
    font-size: xx-large;
}
.add-to-bag{
    background-color: #72be44;
    color: white;
    font-size: medium;
    border: none;
    border-radius: 20px;
    padding: 6px;
    width: 130px;
}