
.ns_ul {
    display: none;
}
.menu{
    display: flex;
    width: auto;
    /* height: 100px; */
}.menu_elements{
    display:none;
}
.s3{
    /* flex-wrap: nowrap; */
    display: grid;
    grid-auto-flow: column;
    overflow:scroll;
    height: 300px;
    width: 100%;
}
.s3::-webkit-scrollbar{
    display: contents;
}
.buto{
    display: none;
}
.section_title{
    text-align: center;
}
.product-image-big{
    height: 30vh;
}
.cart_ico{
    display:block
}